/* Responsividade (Nesting Nativo) */

@media (max-width: 1400px) {
    .hero-section {
        .hero-center {
            .pizza-main-img {
                width: 500px;
            }
        }
    }
}

@media (max-width: 1024px) {
    .header {
        padding: 24px 40px;

        .nav-container {
            gap: 20px;
        }
    }

    .hero-section {
        .hero-container {
            flex-direction: column;
            align-items: center;
            margin-top: 100px;
        }

        .hero-left {
            width: 100%;
            text-align: center;
            align-items: center;
        }

        .hero-center {
            position: relative;
            transform: translate(0, 0);
            left: auto;
            top: auto;
            margin: 40px 0;
            
            .pizza-main-img {
                width: 100%;
                max-width: 500px;
            }
        }

        .hero-right {
            width: 100%;
            text-align: center;
            align-items: center;

            .features-grid {
                justify-content: center;
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .nav-container {
            .nav-link {
                display: none;
            }

            .logo-link {
                .logo {
                    height: 70px;
                }
            }
        }
    }
}
